<!doctype html>
<html lang="pt-br">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <link rel="stylesheet" href="../lib/bootstrap/css/bootstrap.min.css">
	
	  <script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
    <script type="text/javascript" src="../model/conectar.js"></script>
    <script type="text/javascript" src="../lib/bootstrap/js/numeroReal.js"></script>
    <script type="text/javascript" src="../model/historico.js"></script>
    <script type="text/javascript" src="../model/checkLogin.js"></script>
    <script type="text/javascript">
          checkLogin();
    </script>

    <title>BancoJS</title>
  </head>
  <body>

  	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

	  <a class="navbar-brand" href="#"></a>

	  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="	#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
	      <li class="nav-item">
	        	<a class="nav-link" href="saque.html">Saque<span class="sr-only">(current)</span></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" href="depositar.html">Depositar</a>
	      </li>


	      <li class="nav-item active">
	        	<a class="nav-link" href="">Histórico</a>
	      </li>

	      <li class="nav-item">
	        	<a class="nav-link" href="avatar.html">Perfil</a>
	      </li>
      
       <li class="nav-item">
            <button type="button" class="btn btn-primary" title="Notificações">
              <a href="notification.html"> <img src="../images/alerta.png" width="20" class="img-fluid"> </a>
                <span class="badge badge-dark">
                  <script>
                            document.write(sessionStorage.getItem('n'));     
                  </script>
                </span>
                <span class="sr-only">unread messages</span>
          </button>
        </li>
      
      <li class="nav-item">
            <button type="button" class="btn btn-primary" title="Outros usuários">
               <a href="addamigos.html">
                   <img src="../images/myfriends.png" width="25" class="img-fluid">
               </a> 
          </button>  
	    </li>

	 </ul>

	 <ul class="navbar-nav mr-right">
	 	 <li class="nav-item">
	        <a class="nav-link" href="../index.html">Sair</a>
	     </li>

	 </ul>
    
  </div>
</nav>

<div class="container">

    <div class="row">		

    	<div class="col-md-2"></div>	

	    	<div class="col-md-8">

	    		<div class="text-center">

	    	<!-- Avatar do usuário -->			

	    			<img src="../images/user.png" width="105" class="mt-2 img-fluid" id="userAvatar">
	    		</div>
	    		<hr>

		    	<table class="table table-striped" id="a">
		    		
		    		<script type="text/javascript">

		    			geraHistorico();

		    		</script>	


		    	</table>		
		    		
	    	</div>	
    	<div class="col-md-2"></div>
    </div>	
 
	</div> <!-- Fecha container -->

	<script type="text/javascript" src="../lib/bootstrap/js/mudaAvatar.js"></script>
	<script type="text/javascript">

		let avatar = sessionStorage.getItem('userAvatar')
		mudaAvatar(avatar);

	</script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>